################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/App_Data/PublishProfiles/Perfil IIS Local.pubxml
/website.publishproj
/.vs/config/applicationhost.config
/.vs
