<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="seaConnectionString" connectionString="Data Source=.;Initial Catalog=sea;Persist Security Info=True;User ID=user;Password=user" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CustomerServicesPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CustomerServicesPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://190.104.0.116:8181/PasarelaServices_V2/CustomerServices"
                binding="basicHttpBinding" bindingConfiguration="CustomerServicesPortBinding"
                contract="CustomerServicesReference.CustomerServices" name="CustomerServicesPort" />
        </client>
    </system.serviceModel>
</configuration>
